:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin: 20px 0px;
}

.header {
  font-size: 3rem;
}

.timer {
  margin-top: 20%;
  text-align: center;
  font-size: 0.9rem;
}

.form {
  display: flex;
  justify-content: center;
}

.input-field {
  max-width: 300px;
  font-size: 20px;
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  margin: 0 10px;
  background: #845ec2;
  color: white;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button:hover {
  opacity: 0.9;
}

.timer-display {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  gap: 30px;
}

/* body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1499377193864-82682aefed04?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
} */

.list-item {
  margin-bottom: 5px;
  font-size: 20px;
}

.list {
  padding: 50px;
  border: 1px solid black;
  border-radius: 20px;
  max-width: 50%;
  margin: 50px auto 0;
  box-shadow: 5px 5px 5px 5px lightblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  background: var(--bg-primay);
  color: var(--primay);
}

.App-link {
  color: #61dafb;
  color: var(--link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
